.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-box {
  width: 500px;
}

.playback-button-box {
  display: flex;
  flex-direction: row;
}

.nav::after {
  height: 0;
}

button {
  background-color: white;
  font-size: 20px;
  font-weight: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 5px;
}

button:hover, button:active {
  background-color: grey;
}

.nav.navbar-nav li a {
  color: grey;
}

.nav.navbar-nav li a:active {
  color: white;
}

.container-fluid .jumbotron {
  background-color: white;
}

.spotify-button {
  font-size: 1em;
  background-color: black;
  color: white;
  display: inline-block;
}
